/*Importaciones de internet que se usaron en la página de duolingo*/
@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);

:root{
    --principal-color: #58cc02;
}

body {
    margin: 0;
    font-family: 'Feather Bold';
}

.header {
    padding: 10px 16px;
    background: #ffffff;
    color: var(--principal-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.content {
    padding: 16px;
    padding-top: 50px; 
}

.sticky + .content {
    padding-top: 102px; 
}
