/*Importaciones de internet que se usaron en la página de duolingo*/
@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);

:root{
    --principal-color: #58cc02;
    --color-gris:  #666767;
}

body {
    margin: 0;
    font-family: 'Feather Bold';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: border-color .3s, transform .4s cubic-bezier(.22,1,.36,1);}
.header img {
    width: 100px; /* ajusta el tamaño según sea necesario */
}
#right-text {
    color: var(--color-gris);
    margin-left: auto; /* Alinear a la derecha */
    padding: 10px; /* Ajusta el padding según sea necesario */
    white-space: nowrap; /* Evita que el texto se rompa */
}
.content{
    font-family: 'Feather Bold';
    color: var(--color-gris);
}

.sticky + .content {
    padding-top: 102px; 
}
